:root{
    --vermelho: #E50914;
    --preto: #141414;   
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
 body{
     background: var(--preto);
     font-family: 'Times New Roman', Times, serif;
     color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.container{
    margin-left: 15px;
}

header nav a{
    text-decoration: none;
    color: #AAAAAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFFFFF;
}
/*Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)),
    url("/resources/alto_compadecida_capa.jpg");
    height:400px;
    background-size:cover;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 400px;
    padding: 5px;
}
.filme-principal .container{
    width: 60%;
}



.botao{
    background-color: rgba(0,0,0,.50) ;
    border: none ;
    color: white;
    padding: 15px 30px;
    margin-right: 30px;
    font-size: 12px;
    cursor: pointer;
}
.botao:hover{
    background-color:white;
    color: black;
    transition: .4s ease all;
}
.botao i{
    margin-right: 8px;
}

.box-filme{
    height:100%;
    width:100%;
    display: block;
}